
div {
  background-color: lightblue;

}


.container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


.element{
background-color: lightgreen;
margin: 20px;
padding: 10px;
border: 6px ridge black;
height: 433px;



}

.video{
display: none;

}


button {
  background-color: #4CAF50;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
